In [3]:
# print 0 to 20 by using range
for num in range(0, 20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [4]:
# print range 10 to 20
for num in range(10, 20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [6]:
# Print number of items in the list by using 'len'
List2 = [10, 20, 14, 55, 43, 87, 76]
print("Number of item in the List2: ",len(List2))

Number of item in the List2:  7

In [7]:
Word=input("Enter the word: ")
for x in Word:
    print(x)

Enter the word:  Artificial Intelligence

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [8]:
print("Name- Yuvaraj")
print("Age - 26")
print("Profession - Software Engineer")

Name- Yuvaraj
Age - 26
Profession - Software Engineer

In [10]:
n=int(input("Enter number of elements in tuples: "))
mylist = []
for i in range(n):
    element = input(f"Enter element {i+1}: ")
    mylist.append(element)

Tuple1=tuple(mylist)

print("Tuple1: ", Tuple1)

Enter number of elements in tuples:  4
Enter element 1:  1
Enter element 2:  'Welcome'
Enter element 3:  2
Enter element 4:  'Hope'

Tuple1:  ('1', "'Welcome'", '2', "'Hope'")

In [13]:
tup1=(0,1,2,3)
tup2=('Python','Hope')
tup3=tup1+tup2
tup4=(tup1, tup2)
print(tup3)
print(tup4)

(0, 1, 2, 3, 'Python', 'Hope')
((0, 1, 2, 3), ('Python', 'Hope'))

In [15]:
tup = (20,10,16,19,25,1,276,188)
for i in tup:
    if (i%2!=0):
        print(f"{i} is odd")

19 is odd
25 is odd
1 is odd

In [16]:
#even number using tuple
tup=(20,10,16,19,25,1,276,188)
for i in tup:
    if (i%2==0):
        print(f"{i} is Even")

20 is Even
10 is Even
16 is Even
276 is Even
188 is Even